.SearchPage {
  position: relative;
  display:block;
  /*Or*/
  clear:both;
}

body {
    color: white;
    font-family: 'Bellota', cursive;
    font-size: 220%;
}

.main-content-header{
    /* width: 1180px;
    height:auto;
    position: relative;
    top: 40%;
    left: 50% ;
    */
    transform: translate(-60%, 0%);
    position: relative;
    display:block;
    /*Or*/
    clear:both;
}

h2{
    color:whitesmoke;
    text-align: center;
    font-size: 130%;
    margin-top: 10px;
    margin-bottom: 50px;
}
h4{
   text-align: center;
    margin-right: 40%;

}

#container {
    text-align: left;
    margin-bottom: 0px;
    margin-top: 1px;
    position: relative;
}

#container button {
    display: block;
    height: 40px;
    padding: 10px;
    width:190px;
    margin-left: 13%;
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 200px;
    outline:none;
}

.group {
   /* position:relative;*/
    right:3%;
    list-style: none;
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;

}

.slider {
   /*position: absolute; */

    margin-left: 40%;
    margin-top: 0px;
    margin-bottom: 2px;
    position: relative;
    top: -25px;

}

#container div{
    position: relative;
}

#danceability{
    position: absolute;
    top: 0;
    border-radius: 45%;
    padding: 2px;
    background: black;
    width: 50px;
    height:35px;
    color: snow;
    text-align: center;
    font-size: 20px;
    right: 50mm;
    transform: translate(0%, -100%);
}

.btnOne {
    background-color: whitesmoke;
    color: black;
}

.btnOne:hover{
    background-color: #a22cd4;
}

.range1{
    width:400px;
    height: 17px;
    background: black;
    outline: none;
    margin-top: 15px;
    margin-left: 3%;
    -webkit-appearance: none;
    border-radius: 15px;
    box-shadow: inset 0 0 5px rgba(0,0,0, 1);
    overflow: hidden;

}

.range1::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 17px;
    height: 17px;
   border-radius: 50%;
   background: rgb(67, 224, 252);
   cursor: pointer;
   border:4px solid black;
   box-shadow: -407px 0 0 400px #5ce2fa;
}

#tempo{
    position: absolute;
    top: 0;
    border-radius: 45%;
    padding: 2px;
    background: black;
    width: 50px;
    height:35px;
    color: snow;
    text-align: center;
    font-size: 20px;
    right: 50mm;
}

.btnTwo {
    background-color: #320446;
    color: whitesmoke;

}

.btnTwo:hover{
    background-color: transparent;
}

.range2{
    width:400px;
    height: 17px;
    background: black;
    outline: none;
    margin-top: 15px;
    margin-left: 3%;
    -webkit-appearance: none;
    border-radius: 15px;
    box-shadow: inset 0 0 5px rgba(0,0,0, 1);
    overflow: hidden;

}

.range2::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 17px;
    height: 17px;
   border-radius: 50%;
   background: rgb(67, 224, 252);
   cursor: pointer;
   border:4px solid black;
   box-shadow: -407px 0 0 400px #5ce2fa;
}

#duration{
    position: absolute;
    top: 0;
    border-radius: 45%;
    padding: 2px;
    background: black;
    width: 50px;
    height:35px;
    color: snow;
    text-align: center;
    font-size: 20px;
    right: 50mm;
}
.btnThree {
    background-color: whitesmoke;
    color:black;
}

.btnThree:hover{
    background-color: #ab08f1;
}
.range3{
    width:400px;
    height: 17px;
    background: black;
    outline: none;
    margin-top: 15px;
    margin-left: 3%;
    -webkit-appearance: none;
    border-radius: 15px;
    box-shadow: inset 0 0 5px rgba(0,0,0, 1);
    overflow: hidden;

}

.range3::-webkit-slider-thumb{
   -webkit-appearance: none;
    width: 17px;
    height: 17px;
   border-radius: 50%;
   background: rgb(67, 224, 252);
   cursor: pointer;
   border:4px solid black;
   box-shadow: -407px 0 0 400px #5ce2fa;
}

#valence{
    position: absolute;
    top: 0;
    border-radius: 45%;
    padding: 2px;
    background: black;
    width: 50px;
    height:35px;
    color: snow;
    text-align: center;
    font-size: 20px;
    right: 50mm;
}

.btnFour{
    background-color: black;
    color: whitesmoke;
    }

.btnFour:hover{
    background-color: #390550;
}

.range4{
    width:400px;
    height: 17px;
    background: black;
    outline: none;
    margin-top: 15px;
    margin-left: 3%;
    -webkit-appearance: none;
    border-radius: 15px;
    box-shadow: inset 0 0 5px rgba(0,0,0, 1);
    overflow: hidden;

}

.range4::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 17px;
    height: 17px;
   border-radius: 50%;
   background: rgb(67, 224, 252);
   cursor: pointer;
   border:4px solid black;
   box-shadow: -407px 0 0 400px #5ce2fa;
}

.LoadButton {
  vertical-align: baseline;
  margin-bottom: 10px;
  width: 50vh;
}

.btn-align {
  text-align: center;
}

.movable-icon{display: none;}

@media only screen and (max-width: 1180px){
    .main-content-header{
        width:100%;
        padding:0 2%;

       }
}

@media only screen and (max-width: 768px){

    .main-nav{display: none;}

    .movable-icon{
        display:inline block ;
        color: mintcream;
        float: right;
        margin-top: 20px;
        margin-right: 20px;
    /*Gotta WORK ON THIS PART*/
    }
}

.main-nav li{
        float: left;
        display: block;
        margin-top: 10px;
    }
