.root {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.media {
    height: 240px;
}
.teammate {
    margin: 20px;
    flex: 1;
    width: 345px;

}
.content {
    margin: 10px;
    height: 30px;
    font-size: 12px;
}
.github {
    justify-content: center;
}


